<!doctype <!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %}{% endblock %} | Django Webstore for Training</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <nav class="px-6 py-6 flex justify-between items-center border-b border-gray-200">
            <a href="/" class="text-xl font-semibold">Puddle </a>
            <div class="space-x-6">
                <a href="#" class="text-lg font-semibold hover:text-red-500">New item</a>
                <a href="#" class="text-lg font-semibold hover:text-red-500">Browse</a>

                <a href="#" class="px-6 py-3 text-lg font-semibold bg-green-500 text-white rounded-xl hover:bg-teal-700">Sign up</a>
                <a href="#" class="px-6 py-3 text-lg font-semibold bg-blue-500 text-white rounded-xl hover:bg-blue-700">Login</a>
            </div>
        </nav>
       <div class="px-6 py-6">
        {% block content %}
        {% endblock %}       
       </div> 

       <footer class="py-6 px-6 flex justify-between bg-gray-800">
            <div class="w-2/3 pr-10">
                <h3 class="mb-5 font-bold text-gray-400">About</h3>
                <p class="text-lg text-gray-500"> LOREM IPSUM BLAHHHHHH </p>
            </div>
            <div class="w-1/3">
                <h3 class="mb-5 font-semibold text-gray-400">Menu</h3>

                <ul class="space-y-2">
                    <li><a href="#" class="text-lg text-teal-500 hover text-teal-700">About</a></li>
                    <li><a href="{% url 'contact' %}" class="text-lg text-teal-500 hover text-teal-700">Contact</a></li>
                    <li><a href="#" class="text-lg text-teal-500 hover text-teal-700">Privacy</a></li>
                    <li><a href="#" class="text-lg text-teal-500 hover text-teal-700">Terms of Service</a></li>

                </ul>

            </div>
        </footer>
    </body>
</html>